In [72]:
%load_ext autoreload
%autoreload 2
import pandas as pd
import numpy as np
import seaborn as sn
import matplotlib
import matplotlib.pyplot as plt
from credentials import Credentials as cr
import os
import requests

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [73]:
valeurs2019 = pd.read_csv(cr.PATH + cr.DATASET_NAME, sep='|',encoding='utf-8')

C:\Users\utilisateur\anaconda3\envs\data-ia\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (18,23,24,26,28,29,31,33,41) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [74]:
valeurs2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2535791 entries, 0 to 2535790
Data columns (total 43 columns):
 #   Column                      Dtype
---  ------                      -----
 0   Code service CH             float64
 1   Reference document          float64
 2   1 Articles CGI              float64
 3   2 Articles CGI              float64
 4   3 Articles CGI              float64
 5   4 Articles CGI              float64
 6   5 Articles CGI              float64
 7   No disposition              int64
 8   Date mutation               object
 9   Nature mutation             object
 10  Valeur fonciere             object
 11  No voie                     float64
 12  B/T/Q                       object
 13  Type de voie                object
 14  Code voie                   object
 15  Voie                        object
 16  Code postal                 float64
 17  Commune                     object
 18  Code departement            object
 19  Code commune                int64
 20  Prefixe de section          float64
 21  Section                     object
 22  No plan                     int64
 23  No Volume                   object
 24  1er lot                     object
 25  Surface Carrez du 1er lot   object
 26  2eme lot                    object
 27  Surface Carrez du 2eme lot  object
 28  3eme lot                    object
 29  Surface Carrez du 3eme lot  object
 30  4eme lot                    float64
 31  Surface Carrez du 4eme lot  object
 32  5eme lot                    float64
 33  Surface Carrez du 5eme lot  object
 34  Nombre de lots              int64
 35  Code type local             float64
 36  Type local                  object
 37  Identifiant local           float64
 38  Surface reelle bati         float64
 39  Nombre pieces principales   float64
 40  Nature culture              object
 41  Nature culture speciale     object
 42  Surface terrain             float64
dtypes: float64(17), int64(4), object(22)
memory usage: 831.9+ MB

In [75]:
valeurs2019["Valeur fonciere"].replace(',', '.', regex=True, inplace = True)
valeurs2019["Valeur fonciere"] = valeurs2019["Valeur fonciere"].astype(str).astype(float)
valeurs2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2535791 entries, 0 to 2535790
Data columns (total 43 columns):
 #   Column                      Dtype
---  ------                      -----
 0   Code service CH             float64
 1   Reference document          float64
 2   1 Articles CGI              float64
 3   2 Articles CGI              float64
 4   3 Articles CGI              float64
 5   4 Articles CGI              float64
 6   5 Articles CGI              float64
 7   No disposition              int64
 8   Date mutation               object
 9   Nature mutation             object
 10  Valeur fonciere             float64
 11  No voie                     float64
 12  B/T/Q                       object
 13  Type de voie                object
 14  Code voie                   object
 15  Voie                        object
 16  Code postal                 float64
 17  Commune                     object
 18  Code departement            object
 19  Code commune                int64
 20  Prefixe de section          float64
 21  Section                     object
 22  No plan                     int64
 23  No Volume                   object
 24  1er lot                     object
 25  Surface Carrez du 1er lot   object
 26  2eme lot                    object
 27  Surface Carrez du 2eme lot  object
 28  3eme lot                    object
 29  Surface Carrez du 3eme lot  object
 30  4eme lot                    float64
 31  Surface Carrez du 4eme lot  object
 32  5eme lot                    float64
 33  Surface Carrez du 5eme lot  object
 34  Nombre de lots              int64
 35  Code type local             float64
 36  Type local                  object
 37  Identifiant local           float64
 38  Surface reelle bati         float64
 39  Nombre pieces principales   float64
 40  Nature culture              object
 41  Nature culture speciale     object
 42  Surface terrain             float64
dtypes: float64(18), int64(4), object(21)
memory usage: 831.9+ MB

In [76]:
valeurs2019.describe(include="all")

,Code service CH,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.535791e+06,2535791,2535791,...,609,2.535791e+06,1.353332e+06,1353332,0.0,1.351615e+06,1.351615e+06,1742833,112853,1.742833e+06
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,361,6,...,473,NaN,NaN,4,NaN,NaN,NaN,27,118,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29/03/2019,Vente,...,"23,79",NaN,NaN,Maison,NaN,NaN,NaN,S,POTAG,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22208,2308539,...,68,NaN,NaN,515398,NaN,NaN,NaN,839215,27853,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.199535e+00,NaN,NaN,...,NaN,3.943330e-01,1.989685e+00,NaN,NaN,8.775654e+01,2.430351e+00,NaN,NaN,3.092533e+03
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.401537e+00,NaN,NaN,...,NaN,8.086631e-01,9.438622e-01,NaN,NaN,8.728312e+02,2.083948e+00,NaN,NaN,1.364341e+04
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+00,NaN,NaN,...,NaN,0.000000e+00,1.000000e+00,NaN,NaN,0.000000e+00,0.000000e+00,NaN,NaN,0.000000e+00
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+00,NaN,NaN,...,NaN,0.000000e+00,1.000000e+00,NaN,NaN,1.500000e+01,0.000000e+00,NaN,NaN,2.330000e+02
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+00,NaN,NaN,...,NaN,0.000000e+00,2.000000e+00,NaN,NaN,6.000000e+01,3.000000e+00,NaN,NaN,6.100000e+02
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+00,NaN,NaN,...,NaN,1.000000e+00,3.000000e+00,NaN,NaN,9.400000e+01,4.000000e+00,NaN,NaN,1.885000e+03
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.940000e+02,NaN,NaN,...,NaN,1.750000e+02,4.000000e+00,NaN,NaN,3.129620e+05,6.700000e+01,NaN,NaN,1.662560e+06

In [77]:
valeurs2019.head()

,Code service CH,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2019,Vente,...,NaN,1,2.0,Appartement,NaN,20.0,1.0,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2019,Vente,...,NaN,2,2.0,Appartement,NaN,62.0,3.0,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,04/01/2019,Vente,...,NaN,1,3.0,Dépendance,NaN,0.0,0.0,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,08/01/2019,Vente,...,NaN,0,1.0,Maison,NaN,90.0,4.0,S,NaN,940.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,07/01/2019,Vente,...,NaN,0,1.0,Maison,NaN,101.0,5.0,S,NaN,490.0

In [83]:
filteredvaleurs2019 = valeurs2019[['Nature mutation', 'Code postal','Nombre pieces principales', 'Surface terrain', 'Surface Carrez du 1er lot', 'Surface Carrez du 2eme lot', 'Surface Carrez du 3eme lot', 'Surface Carrez du 4eme lot', 'Surface Carrez du 5eme lot', 'Valeur fonciere', 'Type local', 'Nombre de lots', 'No voie']]

In [79]:
len(filteredvaleurs2019["Code postal"])

2535791

In [80]:
columns = filteredvaleurs2019.columns
for index in columns:
    nancount = filteredvaleurs2019[index].isna()
    print("Nombre de lignes nulles dans ", index , ": ", nancount.sum())

Nombre de lignes nulles dans  Nature mutation :  0
Nombre de lignes nulles dans  Code postal :  28323
Nombre de lignes nulles dans  Nombre pieces principales :  1184176
Nombre de lignes nulles dans  Surface terrain :  792958
Nombre de lignes nulles dans  Surface Carrez du 1er lot :  2314726
Nombre de lignes nulles dans  Surface Carrez du 2eme lot :  2481517
Nombre de lignes nulles dans  Surface Carrez du 3eme lot :  2530577
Nombre de lignes nulles dans  Surface Carrez du 4eme lot :  2534376
Nombre de lignes nulles dans  Surface Carrez du 5eme lot :  2535182
Nombre de lignes nulles dans  Valeur fonciere :  29261
Nombre de lignes nulles dans  Type local :  1182459
Nombre de lignes nulles dans  Nombre de lots :  0
Nombre de lignes nulles dans  No voie :  1025638

In [87]:
filteredvaleurs2019['Code postal'] = filteredvaleurs2019['Code postal'].astype(str)
filteredvaleurs2019['Code postal'] = filteredvaleurs2019['Code postal'].dropna()
filteredvaleurs2019['Departement'] = filteredvaleurs2019['Code postal'].str[:-5]
filteredvaleurs2019['Departement'].head()

<ipython-input-87-129e571e3917>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filteredvaleurs2019['Code postal'] = filteredvaleurs2019['Code postal'].astype(str)
<ipython-input-87-129e571e3917>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filteredvaleurs2019['Code postal'] = filteredvaleurs2019['Code postal'].dropna()
<ipython-input-87-129e571e3917>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filteredvaleurs2019['Departement'] = filteredvaleurs2019['Code postal'].str[:-5]

0    1
1    1
2    1
3    1
4    1
Name: Departement, dtype: object